* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: iranSans;
  src: url(Assets/Fonts/IRANSansXV.woff2);
}

body {
  font-family: iranSans;
}

header {
  display: flex;
  font-family: Iransans;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 144px;
  width: 100%;
  gap: 20px;
}

.header-section-rightside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-section-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: iranSans;
  font-size: 0.875rem;
  gap: 8px;
}

.item-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 0.875rem;
  padding: 16px;
}

.header-section-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  font-family: iransans;
  margin-right: 32px;
  background-color: transparent;
  font-size: 1rem;
  list-style: none;
}

.button-support {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1rem;
  font-family: iranSans;
  background-color: transparent;
  border: none;
  color: #008fff;
}

.img-section-logo {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.img-section-logo-left {
  width: 54px;
  height: 24px;
}

.logo-section {
  width: 32px;
  height: 32px;
}

.header-section-leftside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  gap: 16px 16px;
}

.Icon-section {
  width: 24px;
  height: 24px;
}

.button-signup {
  display: flex;
  font-family: iranSans;
  color: #008fff;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  font-family: iranSans;
  border: 1px solid #008fff80;
  font-size: 0.875rem;
  padding: 4px 8px;
  border-radius: 32px;
}

li:hover {
  color: #008fff;
}

.button-support:hover {
  background-color: transparent;
}

.button-signup:hover {
  background-color: #008fff0a;
}

main {
  min-height: 100dvh;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.footer-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #040a1fde;
  min-width: 1280px;
  padding: 0 32px;
  border-radius: 48px;
}

.footer-top-section-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-top-section-right-img {
  width: 96px;
  height: 96px;
}

.footer-top-section-right-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer-top-section-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  font-family: iransans;
  font-size: 14px;
  text-decoration: none;
  border-radius: 8px;
  padding: 6px 8px;
}

.footer-top-section-left-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 168px;
    height: 40;
  }
}

.footer-top-section-left-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-color: rgb(255, 255, 255);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-right: 16px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  position: relative;
  color: white;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-transform: uppercase;
}

.azki-logo-section {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 28px;
}

.footer-top-section-left-button:hover {
  background-color: rgb(174, 157, 157);
}

.paragraph-right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: iransans;
  font-size: 16px;
  padding-left: 1000px;
}

h3 {
  color: blue;
}

.paragraph-down-right-section:hover {
  color: blue;
}

.footer-down-section-right{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius:12px;
}
a:hover{
  color: blue;
}

a{
  color: black;
}

.footer-down-section-center{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  
}

h3{
  color: blue;
}

.footer-down-paragraph-section-center:hover{

  color: blue;
}

.footer-down-section-left{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



h3{

  color: blue;
}

.paragraph-down-left-section:hover{

  color: blue;
}

.down-section-end{

  display: flex;
  padding: 16px 8px;
  align-items: center;
  background-color: #008fff;
}