* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: iranSans;
  src: url(Assets/font/IRANSansXV.woff2);
}

body {
  font-family: iranSans;
}

header {
  display: flex;
  font-family: Iransans;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 144px;
  width: 100%;
  gap: 20px;
}

.header-section-rightside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-section-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.item-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  padding: 16px;
  gap: 32px;
  font-family: iransans;
}

.button-support {
  display: flex;
 color:rgb(0, 143, 255);
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  margin-right: 8px;
  
}

.img-section-logo {
  display: flex;
  width: 32px;
  height: 32px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-radius: 16px;
}

.img-section-logo-left {
  display: flex;
  width: 54px;
  height: 24px;
}

.logo-section {
  display: flex;
  color: rgba(4, 10, 31, 0.6);
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.header-section-leftside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  gap: 16px 16px;
}

.img-headset {
  width: 24px;
  height: 24px;
  position: fixed;
  gap: 32px;
}
